body {
    margin: 4 0 0 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

hr {
    border: solid #DADDFC 2px;
    border-bottom: none;
    width: 95%;
    margin: 10px auto 1px auto;
}

/* Navbar */

.navbar {
    overflow: hidden;
    margin: 0 5rem;

    padding: 0;  
}

.nav-item {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.navbar a {
    float: left;
    color: black;   
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 17px;
}

/* Bio Header */

.bio-header {
    margin-left: 10rem;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.user-pic {
    height: 10%;
    width: 10%;
    padding: 15px 15px 15px 0;
}

.bio-title {
    padding: 10px;
    margin: 0 4% 0 2%;
}

.bio-title button {
    font-size:15px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
}

.bio-title button:hover {
    font-style:italic;
    opacity: 0.5;
    transition: 2s;
}

.ctc {
    background-color:#396EB0;
    color:black;
    border-radius: 10px;
    border-style: solid;
}

.bio-detail {
    text-align: justify;
    font-weight: bold;
    margin: 0 4% 0 10%;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

.form input {
    width: 50%
}

.form button {
    background-color: #396EB0;
    font-size:15px;
    margin: 2%;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    width: 80%;
}

.form button:hover {
    font-style:italic;
    opacity: 0.5;
    transition: 2s;
}